/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    background: var(--clr-primary);
    color: var(--clr-primary-font);
    top: 0;
    width: 100%;
    /*opacity: .5;*/
    padding: .5em 0 .5em 1em;
}

.app_title{
    display: flex;
}

.icon {
    width: var(--fs-h1);
    height: var(--fs-h1);
    display: inline-block;
    background-image: url("/icon.svg");
    background-size: cover;
    margin-right: .5em;
}

.menu {
    position: fixed;
    background: var(--clr-secondary);
    color: var(--clr-secondary-font);
    top: calc(var(--fs-h1) + 1em);
    left: 50%;
    right: 0;
    padding: 1.5em 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*fixing weird defaults for unordered list*/
    margin: 0;
    padding: 0;
}



.link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.link:hover {
    color: var(--clr-primary-font);
    cursor: pointer;
}

.list .item + .item {
    padding-top: 1em;
    text-align: center;
}

.list .item + .item::before {
    content: ''; /*you must set this prop, otherwise pseudo will not be shown*/
    display: block;
    width: 8em;
    height: 1px;
    margin: .5em auto 1em;
    background: currentColor;
}

.toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1.5em;
    top: 2em;
    z-index: 1000;
}

.toggle:focus {
    outline: none;
}

.menu_open .menu {
    transform: translateX(0);
}

.menu_open .menu-toggle {
    position: fixed;
}

.menu_open .hamburger {
    transform: rotate(.625turn);
}

.menu_open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.menu_open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-primary-font);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

@media (min-width: 600px) {
    .menu {
        left: 70%;
    }
}
