.section {
    padding: 1.0em 1.5em 1.5em 1.5em;
}

.input_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 2em;
    align-items: center;
    margin: 1.5em 0 2em 0;
}

.gender_control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    padding: .5em 2.5em;
    background: var(--clr-secondary-dark);
    color: var(--clr-secondary-dark-font);
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px; /*this might be needed if we applied [text-transform: uppercase]*/
    font-weight: var(--fw-bold);
    border: none;
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.number_input {
    display: block;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.number_input:placeholder{
    opacity: .2;
}


.switch{
    position: relative;
    display: block;
    width: 70px;
    height: 45px;
    margin: 0 1em;
}

.switch_slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--clr-primary-dark);
    transition: .5s;
    border: 3px solid white;
    box-shadow: var(--bs);
}

.switch_slider:before{
    position: absolute;
    content: '';
    top: 6px;
    background-color: var(--clr-primary-light);
    transition: .5s;
}

.switch input{
    display: none;
}

input:checked + .switch_slider{
    background: #0077c2;
}

input:checked + .switch_slider:before{
    transform: translateX(35px) rotateZ(45deg);
    background: #80d6ff;
}

.switch_slider{
    border-radius: 35px;
}

.switch_slider:before{
    width: 43%;
    height: 43%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotateZ(-45deg);
}

.weight_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
    align-items: center;
    margin: 1.5em 0 0 0;
}

.weight_data .data {
    text-align: center;
}

.weight_data .title {
    font-family: sans-serif;
    font-weight: 500;
}

.plan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    align-items: center;
    margin: 1.5em 0 0 0;
}

.plan .header,
.plan .data {
    text-align: center;
}

.plan .data {
    font-size: 1.6rem;
    font-weight: 600;
}

.plan .title {
    font-family: sans-serif;
    font-weight: 500;
}

@media (min-width: 600px) {
    .plan .data {
        font-size: 2.1rem;
    }

    .number_input {
        font-size: 1.2rem;
    }
}