
.Settings__section {
    padding: 1.0em 1.5em;
}

.Settings__section-title {
    display: flex;
    justify-content: space-between;
}

.Settings__section-body {
    margin-top: 1em;
    padding-left: 1em;
}

.Settings__general-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 2em;
}

.Settings__general-cell {
    align-self: center;
}

.Settings__time-grid,
.Settings__portions-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    align-items: center;
}

.Settings__count-cell {
    text-align: center;
}

.Settings__controls-cell {
    justify-self: center;
}

.Settings__switch{
    position: relative;
    display: block;
    width: 70px;
    height: 45px;
}

.Settings__switch-slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: white;
    transition: .5s;
    border: 3px solid white;
    /*box-shadow: 1px 1px 1px rgba(0,0,0,0.1);*/
    box-shadow: var(--bs);
}

.Settings__switch-slider:before{
    position: absolute;
    content: "";
    /*bottom: 14px;*/
    top: 6px;
    background-color: var(--clr-secondary-dark);
    transition: .5s;
}

.Settings__switch input{
    display: none;
}

input:checked + .Settings__switch-slider{
    background-color: var(--clr-primary-dark);
}

input:checked + .Settings__switch-slider:before{
    transform: translateX(35px) rotateZ(45deg);
    background: var(--clr-primary-light);
}

.Settings__switch-slider.Settings__switch-round{
    border-radius: 35px;
}

.Settings__switch-slider.Settings__switch-round:before{
    width: 43%;
    height: 43%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotateZ(-45deg);
}
