
.container {
    padding: 1.0em 1.5em;
}

.title {
    display: flex;
    justify-content: space-between;
}

.grid {
    margin-top: 1em;
    padding-left: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    align-items: center;
}